:root {
  --bs-body-font-family: "Inter", sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0 !important;
}
a {
  color: unset !important;
  text-decoration: none !important;
}
