$color-primary: rgb(96, 171, 64);
$color-background-main: rgb(248, 249, 250);
$color-background-content: white;
$color-border-primary: rgb(218, 220, 224);
$color-border-input: rgb(171, 171, 171);
$color-border-input_hover: rgb(62, 62, 62);
$color-card-description: rgba(46, 38, 61, 0.7);

$header-height: 56px;
